#configPanel {
  display: none;
}


.pl {
  margin-top: 10px;
  background:url(../img/pl16.png); 
}


.gb {
  background:url(../img/gb16.png); 
}

.gb, .pl {
  background-color: white;   
  color: black;   
  padding: 8px; 
  padding-left: 45px;
  border-bottom: 1px solid lightgray;
  background-repeat: no-repeat;
  background-position: 10px 10px; 
  height: 50px;
  text-align: center;
 display: table; width:100%; 
}

.pl p, .gb p {
  margin: 0;
}

.pl div {
  display: table-cell; vertical-align: middle;
}

.gb div {
  display: table-cell; vertical-align: middle;
}