#configContainer {
  display: none;
}

.pl {
  background:url(../img/pl16.png); 
  border-radius: 15px 15px 0 0; 
  border-bottom: 1px solid lightgray;
}


.gb {
  border-top: 1px solid lightgray;
  background:url(../img/gb16.png); 
  border-radius: 0 0 15px 15px; 
  
  
 border-radius: 0 0 15px 15px;
-moz-border-radius: 0 0 15px 15px;
-webkit-border-radius: 0 0 15px 15px;
  border: 0px solid #000000;
}

.gb, .pl {
  background-color: white;   
  color: black;   
  padding: 8px; 
  padding-left: 30px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 10px 10px; 
  height: 50px;
  text-align: center;
}

.pl p, .gb p {
  /*margin: 0;*/
}

.pl p span {
  font-size: 80%;
}

.pl > *, .gb > * {
  text-shadow: 0px 0px;
  line-height: 200%;
}


.cardTitle {
  display: inline;
  background-color: white;
  color: black;

}

.inBookTitle {
  color: red;
}

.inChapterTitle {
  font-size: 70%;
  color: green;
}

.inChapterNumber {
  font-size: 50%;
}





.progressBarBackground {
  background-color: white;
}



.progressBar {
  height: 3px;
  background-color: red;
  width: 0%;
  font-size: 1px;
  padding: 0;
  margin: 0;
}